.button {
	display: inline-block;
	box-sizing: border-box;
	padding: 10px;
	cursor: pointer;
	transition: all 0.2s;
	border: none;
	border-radius: 5px;
	font-size: 14px;
}

.primary {
	color: var(--white);
	background: var(--primary);

	&:hover {
		background: var(--primary-hover);
	}

	svg {
		fill: var(--white);
	}
}

.ghost {
	color: var(--black);
	border: 1px solid var(--light-gray);
	background: none;

	&:hover {
		color: var(--white);
		border: 1px solid transparent;
		background: var(--primary);

		svg {
			fill: var(--white);
		}
	}
}

.arrow {
	display: inline-block;
	height: 10px;
	margin-left: 11px;
}

.down {
	transition: rotate(90deg);
	transition: all 0.2s;
}
