@font-face {
    font-family: 'Poppins';
    src: url('../public/fonts/poppins-medium-webfont.woff2') format('woff2'),
         url('../public/fonts/poppins-medium-webfont.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}




@font-face {
    font-family: 'Poppins';
    src: url('../public/fonts/poppins-regular-webfont.woff2') format('woff2'),
         url('../public/fonts/poppins-regular-webfont.woff') format('woff');
    font-weight: 400;
    font-style: normal;

}




@font-face {
    font-family: 'Poppins';
    src: url('../public/fonts/poppins-light-webfont.woff2') format('woff2'),
         url('../public/fonts/poppins-light-webfont.woff') format('woff');
    font-weight: 300;
    font-style: normal;

}

body {
    font-family: 'Poppins', sans-serif;
}