$max-mobile-width: 1242px;

.container {
	display: grid;
	min-height: 100vh;
	gap: 35px;
	grid-template:
		"sidebar body"
		"footer footer" 72px;
}

.sidebar {
	grid-area: sidebar;
}

.body {
	grid-auto-flow: body;
	justify-content: center;
}

.footer {
	grid-area: footer;
}

.header {
	display: none;
	grid-area: head;
}
